#fireworkCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}
canvas.fireworks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}
* {
  -webkit-user-select: none; /* Đảm bảo hoạt động trên Safari */
  -moz-user-select: none; /* Đảm bảo hoạt động trên Firefox */
  -ms-user-select: none; /* Đảm bảo hoạt động trên IE/Edge */
}
#backToTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 150px;      /* chỉnh theo size ảnh */
    height: 150px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.25s ease;
    z-index: 9999;
}

#backToTop img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none; /* ảnh không bị chọn khi click */
}

/* Khi nút hiện */
#backToTop.show {
    opacity: 1;
    visibility: visible;
}

/* Hover nhẹ */
#backToTop:hover {
    transform: translateY(-6px) scale(1.05);
}
